// === Colors ===

// ========== Theme Color ========== //
// Config here to change theme color
// Default | Mint Green | Cobalt Blue | Hot Pink | Dark Violet
$theme-color-config: 'Default';

// Default theme color map
$theme-color-map: (
  'Default': #c05b4d #f8f5ec,
  'Mint Green': #16982B #f5f5f5,
  'Cobalt Blue': #0047AB #f0f2f5,
  'Hot Pink': #FF69B4 #f8f5f5,
  'Dark Violet': #9932CC #f5f4fa
);

$black: #0a0a0a !default;
$white: #fefefe !default;
$light-gray: #ececec !default;
$gray: #cacaca !default;
$dark-gray: #8a8a8a !default;

$rmd-col1: #b3532d;
$rmd-col2: #ffce56;
$rmd-col3: #40750c;
$rmd-col4: #2e6b9f;
$rmd-col5: #a0cfe9;

$light-blue: #CFEAF8;
$light-light-blue: #F8FCFF;

$color-primary-0: #34568B;	// Main Primary color */
$color-primary-1: #7B95BF;
$color-primary-2: #4F6EA0;
$color-primary-3: #1F4176;
$color-primary-4: #0E2D5E;

$color-secondary-1-0: #D2B641;	// Main Secondary color (1) */
$color-secondary-1-1: #FFEB9B;
$color-secondary-1-2: #F2D76B;
$color-secondary-1-3: #B39622;
$color-secondary-1-4: #8E7309;

$color-secondary-2-0: #D27C41;	// Main Secondary color (2) */
$color-secondary-2-1: #FFC39B;
$color-secondary-2-2: #F2A16B;
$color-secondary-2-3: #B35D22;
$color-secondary-2-4: #8E3F09;

$logo-blue: #0972b5;

// Check theme color config.
// if it does not exist, use default theme color.
@if not(map-has-key($theme-color-map, $theme-color-config)) {
  $theme-color-config: 'Default';
}
$theme-color-list: map-get($theme-color-map, $theme-color-config);

// Default theme color of the site.
$theme-color: nth($theme-color-list, 1) !default;

// Deputy theme color of the site.
$deputy-color: nth($theme-color-list, 2) !default;

// === Global ===
// Text color of the body.
$global-font-color: rgba(0, 0, 0, .84);

// Typo to '<html>' and '<body>'.
$root-font-size: 18px;
$root-font-size-mob: 16px;
@import url('https://fonts.googleapis.com/css?family=Dosis:300|Montserrat:400,400i,600&display=swap');
$global-font-family: 'Montserrat', sans-serif;
$global-serif-font-family: 'Dosis', sans-serif;
$global-font-weight: 400;
$header-font-weight: 300;
$global-line-height: 1.5em;

// element | font-size | line-height | margin-top | margin-bottom
$global-headings: (
  h1 3.3888em 1.3279em .4426em .8852em, 
  h2 2.2778em 1.3171em .6585em .6585em,
  h3 1.5em 1em 1em .2em,
  h4 1.1em 1.5em 1.5em 0,
  h5 1em 1.5em 1.5em 0
) !default;

$global-headings-mob: (
  h1 1.9444em 1.5428em .7714em 1em,
  h2 1.5556em 1.9286em .6em .6em,
  h3 1.2778em 1.1739em 1.1739em 0.1em,
  h4 1em 1.5em 1.5em 0,
  h5 1em 1.5em 1.5em 0
) !default;

// Global width of '<body>'.
$global-body-width: 1080px !default;

$wrap-mid-width: 768px !default;
$wrap-med-width: 1024px !default;
$wrap-max-width: 1640px !default;

// Padding of container main
$global-container-padding: 0 20px !default;

// Default line height for all type. `$global-lineheight` is 24px while `$global-font-size` is 16px.

// Font family of the site.

// Serif font family of the site.

// Background color of the site.
$global-background: $white !default;

// === Header ===
$header-height: 64px;
$header-font-color: #998b85; // Warm grey 6

// === Main ===
$main-margin-top: $header-height * 2 + $root-font-size  * 1.5;
$main-margin-top-mob: $header-height + $root-font-size-mob;
$main-margin-bottom: 2.5rem;
$main-background-color: #f8f8f8;
$main-background-border: #f2f2f2;
$main-background-border: #ddd;

// === Post ===

// Font size of post pagination.
$post-nav-font-size: 18px !default;

// === Content ===

// Border bottom of the link when hover it.
$content-link-border: 1px solid $theme-color !default;

// === Footer ===

$footer-background-color: #152935;
$footer-background-color-light: #223540;
$footer-text-color: #eee;

$footer-margin-top: auto;
$footer-top-padding: 3rem;

$lng-bottom-margin: 1rem !default;
$social-link-margin-right: 1rem !default;

// Font size of the social icon.
$social-icon-font-size: 1.7em !default;
$footer-law-font-size: .9em;
