// Header-logo

.header-logo {
  display: flex;
  flex-direction: column;

  @import "header-logo-contacts";
  @import "header-logo-logo";

  .lang-nav  a {
    display: none;
  }

  @include wrap-med-screen {
    flex-direction: row;
    align-items: center;

    .lang-nav  a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      min-width: 3rem;
      border: 3px solid lightgrey;
      border-radius: 4px;
    }
  }
}

