.header-logo__contacts {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  .header-logo__address {
    display: none;
  }
  
  @include wrap-med-screen {
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    text-align: left;
    color: #444444;
    font-size: 1.3rem;
    font-weight: bold;
    
    .header-logo__direct-contacts {
      margin-right: 2rem;
    }

    .header-logo__address {
      display: block;
    }
  }
}

