$bg-color-m: $color-primary-0;
$bg-color: $color-primary-2;
$separator-color: $color-secondary-1-2;
$hover-color: $color-primary-4;
$hover-bg-color: $color-primary-1;
$active-bg-color: $color-primary-3;

$font-color: #998b85; // Warm grey 6
$wg9-color: #6b6059; // Warm grey 9
$font-hover-color: #5e534d; // Warm grey 10

.top-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  // width: 320px;
  min-height: 100vh;
  background-color: $bg-color-m;
  box-shadow: -2px 0 15px 0px $separator-color;

  .lang-nav {
    height: 50px;
    padding: 5px 60px 5px 10px;

    a {
      display: block;
      text-align: center;
      margin: 2px 14px;
      padding: 3px;
      color: $separator-color;
      background-color: $active-bg-color;
      border: solid 1px $separator-color;
      border-radius: 2px;
    }

    .lang-nav__br {
      display: none;
    }
  }
}

.top-menu--close {
  display: none;
}

.top-menu__list,
.top-menu__child-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    
    a {
      padding: 12px 15px;
      display: block;
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid $font-color;
      
      &:hover {
        color: $font-hover-color;
        background-color: $hover-bg-color;
      }
    }
  
  }

  .active {
    background-color: $active-bg-color;
  }
}



.top-menu__parent {
  
  >a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 1rem;
      top: 1rem;
      display: block;
      width: .8rem;
      height: .8rem;
      border-right: 2px solid $font-color;
      border-bottom: 2px solid $font-color;
      transform-origin: center;
      transform: rotate(45deg);
      transition: all .25s;
    }
  }
}

@include wrap-med-screen {
  .top-menu {
    position: static;
    min-height: auto;
    background-color: transparent;
    display: block;
    box-shadow: none;

    .lang-nav {
      display: none;
    }

      .top-menu__list {
        flex-direction: row;

        li a {
          padding: 22px 18px 24px;
          font-size: 1.5rem;
          // color: inherit;
          font-family: $global-serif-font-family;
          white-space: nowrap;
          border: none;

          &:hover {
            background-color: transparent;
          }
        }

        .top-menu__parent {
          position: relative;
          
          >a {
            display: flex;
            align-items: center;

            &::after {
              position: static;
              margin-left: .25em;
              margin-bottom: .25em;              
            }
            
            &.active::after {
              transform:  translateY(4px) rotate(45deg);
            }
          }

          .top-menu__child-list {
            position: absolute;
            right: 0;
            // width: 0;
            // height: 0;
            transform-origin: top right;
            transform: scaleY(0);
            // height: auto;
            overflow: hidden;
            z-index: 10;
            transition: scaleY .2s ease-in-out;

            a {
              background-color: lightgray;
            }
          }

          &:hover,
          &:focus,
          &:active,
          &:focus-within {

            >a::after {
              transform:  translateY(4px) rotate(45deg);
            }

            .top-menu__child-list {
              // width: fit-content;
              height: auto;
              transform: scaleY(1);
            }
          } 
        }
      }
  }

  .top-menu__toggle {
    display: none;
  }
}