$bg-color: $rmd-color2;
$separator-color: $rmd-color1;
$hover-color:  #222222;
$hover-bg-color: #e7e7e7;
$active-bg-color: rgba(128, 128, 128, .5);

.top-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  width: 320px;
  height: 100%;
  // background-color: #8D9CAF;
  background-color: $bg-color;
  box-shadow: -2px 0 15px 0px $separator-color;
}

.top-menu--close {
  display: none;
}

.top-menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-menu__list li {
  margin: 0;
  padding: 0;
}

.top-menu__list li a {
  padding: 12px 15px;
  display: block;
  color: $separator-color;
  text-decoration: none;
  font-size: 1.6em;
  border-bottom: 1px solid $separator-color;
}

.top-menu__list .active {
  background-color: $active-bg-color;
}

.top-menu__list li a:hover {
  color: $hover-color;
  background: $hover-bg-color;
}

@include wrap-med-screen {
  .top-menu {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    box-shadow: none;
  }
  
  .top-menu__nav {
    margin-right: 1rem;
    flex: 2;
  }

  .top-menu__img {
    flex-grow: 3;
    border: 1px solid lightcyan;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top-menu__list {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .top-menu__toggle {
      display: none;
  }

  .top-menu__list li a {
      padding: 14px 18px;
      font-size: 1.1em;
  }
}