.header-logo__contacts {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $color-secondary-2-3;
  font-size: 1.6rem;
  
  .header-logo__direct-contacts {
    display: flex;
    flex-direction: row;
    a {
      margin-right: 1rem;
      font-size: inherit;
      font-size: 3rem;
      color: inherit;
    }
    .text {
      display: none;
    }
  }
  
  .header-logo__address {
    display: none;
  }
  
  @include wrap-med-screen {
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    text-align: left;
    font-family: $global-serif-font-family;
    line-height: 1.8rem;
    font-weight: bold;
    
    .header-logo__direct-contacts {
      flex-direction: column;
      margin-right: 5vw;
      a {
        margin: 0;
        font-size: inherit;
      }
      .sign {
        display: none;
      }
      .text {
        display: inline;
      }
    }

    .header-logo__address {
      display: block;
    }
  }
}

