.header-logo__contacts {
  align-self: center;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  a {
    // color: inherit;      
  }

  @include wrap-med-screen {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    color: #444444;
    font-size: 1.3rem;
    font-weight: bold;
    
    .header-logo__direct-contacts {
      margin-right: 2rem;
    }
  }
}

