.lang-nav  {
  display: none;
  
  @include wrap-med-screen {
    display: block;
    
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      min-width: 3rem;
      border: 2px solid $logo-blue;
      border-radius: 3px;
      font-size: 1.2rem;
      color: inherit;
    }
  }
}