.header-logo__logo {
  display: block;
  position: relative;
  overflow: hidden;
  .header-logo__name {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: .3rem;
    z-index: -10;
  }
  @include wrap-med-screen {
    width: 20vw;
    max-width: 240px;
  }
}