
.top-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  width: 320px;
  height: 100%;
  background-color: #8D9CAF;
}

.top-menu--close {
  display: none;
}

.top-menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-menu__list li {
  margin: 0;
  padding: 0;
}

.top-menu__list li a {
  padding: 15px 18px;
  display: block;
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.6em;
  border-bottom: 1px solid #eeeeee;
}

.top-menu__list .active a {
  background-color: rgba(128, 128, 128, .5);
}


.top-menu__list li a:hover {
  color: #222222;
  background: #e7e7e7;
}

@media screen and (min-width: 1935px) {
  .header__top {
      min-width: 935px;
  }

  .top-logo h1 {
      font-size: 2.2em;
  }

  .top-menu {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      margin-left: 10px;
      display: flex;
      flex-direction: row;
  }

  .top-menu--close {
      display: block;
  }

  .top-menu__list {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .top-menu__toggle {
      display: none;
  }


  .top-menu__list li a {
      padding: 14px 18px;
      border: none;
      background: #efefef linear-gradient(#fcfcfc 50%, #e7e7e7);
      color: #777777;
      font-size: 1.1em;
  }

  .top-menu__list li:not(:first-child) a {
      margin-left: 4px;
  }

  .top-menu__list .active a {
      background: #efefef linear-gradient(#f6f6f6 50%, #e2e2e2);
      color: #8D9CAF;
      font-weight: bold;
  }
}