.header-contacts {
  display: flex;
  flex-direction: row;
  align-self: center;
  text-align: center;
  color: inherit;
  font-size: $contact-font-size * 2;
  
  a {
    margin-right: 1rem;
    font-size: inherit;
    color: inherit;
    transition: all .3s;

    &:hover {
      color: $black;
      text-decoration: underline $logo-blue;
    }
  }
  
  .text {
    display: none;
  }  
  
  @include wrap-med-screen {
    flex-direction: column;
    text-align: left;
    font-family: $global-serif-font-family;
    font-size: $contact-font-size;
    line-height: $contact-font-size * 1.5;

    a {
      margin: 0;
    }

    .sign {
      display: none;
    }
    
    .text {
      display: inline;
    }    
  }
}

