.header-logo {
  position: relative;
  overflow: hidden;
  height: var(--header-height);
  padding: calc(var(--header-height)/20) 0;
  
  a {
    display: block;
    height: 100%;
    
    svg {
      display: block; 
      max-height: 100%;
      width: auto;

      * {
        transition: all 300ms;
      }
      
      &:hover {
        
        #roof {
          fill: lighten($logo-blue, 10%);
        }

        #gmbh {
          fill: #333;
        }
      }
    }
  }
  
  // .header-logo__img {
  //   display: block; 
  //   max-height: 100%;
  //   object-fit: scale-down;
  // }
  
  .header-logo__name {
    position: absolute;
    top: 50%;
    left: -600px;
    font-size: .1rem;
  }
  
  @include wrap-med-screen {
    padding: calc(var(--header-height)/28) 0;
  }
}
