.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: $white;
  color: 	$header-font-color;
  box-shadow: 0 0 5px 2px $main-background-border;


  .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include wrap-med-screen {
      
      > *:not(:last-child) {
        margin-right: 1rem;
      }
    }

    @import 'header-logo';
    @import "header-center";
    @import 'header-lng';
    @import 'header-toggler';
  }
  
  @include wrap-med-screen {
    padding: 0;
    
    .top-menu__toggle {
      display: none;
    }
  }  
}