// Header

.header {
  padding: 50px 0 0; // burger button height
  background: $rmd-color1;
  // background: linear-gradient(120deg, $rmd-color2 48%, $rmd-color1 100%);
  background-image: url($header-background-img);
  @import 'header-logo';
  @import 'header-nav';
  @import 'header-toggler';
}

@include wrap-med-screen {
  .header {
    padding: 0;
  }
}