.header-logo__logo {
  display: block;
  position: relative;
  overflow: hidden;

  a {
    display: block;
  }

  .header-logo__name {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: .3rem;
    z-index: -10;
  }
  @include wrap-med-screen {
    width: 18vw;
    max-width: 220px;
  }
}