// Header

.header {
  padding-bottom: .1rem; // burger button height
  background: $white;
  background-image: url($header-background-img);
  box-shadow: 0 0 5px $main-background-border;
  @import 'header-logo';
  @import 'header-nav';
  @import 'header-toggler';
}

@include wrap-med-screen {
  .header {
    padding: 0;    
  }
}