// ==============================
// Logo
// =============================

.logo-wrapper {
  padding-left: 15px;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }
}

@include wrap-med-screen {
  .logo-wrapper {
    display: none;
  }
}
