{{ $srvTailScratch := newScratch }}
{{ $srvTailScratch.Set "srv-icon" (.Site.Params.defServiceIcon | relURL) }}

{{/* with .Resources.Match "*icon.png" */}}
{{ with .Resources.ByType "image" }}
  {{ range first 1 . }}
    {{ $srvTailScratch.Set "srv-icon" (.Fit "150x100").RelPermalink }}
  {{ end }}
{{ end }}
{{ $icon := $srvTailScratch.Get "srv-icon" }}
    
<li class="service-list__item">
  <a class="service-tail" href="{{ .RelPermalink }}">
    <article>
      <img class="service-tail__icon"
      src="{{ $icon }}"
      alt="{{ .Title }} icon">
      <h3 class="service-tail__title">{{ .Title }}</h3>
      <div class="service-tail__dscr">
        {{ with .Resources.ByType "page" }}
        <ul>
        {{ range . }}
        <li>{{ .Title }}</li>
        {{ end }}
        </ul>
        {{ else }}
        {{ .Summary | safeHTML }}
        {{ end }}
      </div>      
    </article>    
  </a>
</li>