<ul class="post-toc-cards">
  {{ range sort .Params.tocCards "weight" }}
  <li class="card">
    <a class="card-link"{{ with .link }} href="{{ . }}"{{ end }}>

      <div class="card-header">
          {{ with .header }}<h3>{{ . }}</h3>{{ end }}
      </div>

      <div class="card-text">{{ .text }}</div>

      <div class="card-more">
        <span>{{ i18n "readmore" }} →</span>
      </div>

      <div class="card-prise">
        {{ with .prise }}ab {{ . }} €{{ end }}
      </div>

      <div class="card-img">
        {{ if $icon := $.Resources.GetMatch (printf "**%s*" .icon)}}
        {{ $icon := $icon.Resize "400x q50" }}
        <img src="{{ $icon.RelPermalink }}" alt="{{ .header }} — IMG">
        {{ end }}          
      </div>

    </a>
  </li>
  {{ end }}
</ul>