{{- $card := .Get "data" -}}

<li class="card">
  <a class="card-link"{{ if $card.content }}{{ with $card.header }} href="#{{ anchorize . }}"{{ end }}{{ end }}>
    <div class="card-header">
        {{ with $card.header }}<h3>{{ . }}</h3>{{ end }}
    </div>

    <div class="card-text">{{ $card.text }}</div>

    <div class="card-more">
      {{ if $card.content }}<span>{{ i18n "readmore" }} →</span>{{ end }}
    </div>

    <div class="card-prise">
      {{- with $card.price }}ab {{ . }} €{{ end -}}
    </div>

    <div class="card-img">
      {{ with $card.icon }}
      <img src="{{ .RelPermalink }}" alt="{{ $card.header }} — image">
      {{ end }}          
    </div>
  </a>
</li>