{{ define "content" }}

  <article class="home-article">
    <header class="home-header">
      <h1>{{ .Title }}</h1>
      <section class="home-header__content">{{ .Content }}</section>
    </header>
  </article>

<!-- List of servises -->
{{- $section := "services" -}}

  <section class="service-list__wrapper">
    <ul class="service-list">
    {{ range ( where .Site.RegularPages.ByWeight "Section" $section ) }}
      {{ partial "service-tail" . }}
    {{ end }}
    </ul>
  </section>

{{ end }}
