// Footer top

.footer-top {
  padding: $footer-top-padding 0;
  display: flex;
  flex-direction: column;


  @import "footer-social";
  @include wrap-med-screen {
    flex-direction: row;

    .footer-nav {
      flex: 1;
    }
  }
}