// Social

.footer-social {

  .lang-nav {
    margin-bottom: $lng-bottom-margin;
    text-align: center;
    .lang-nav__br {
      display: none;
      @include wrap-med-screen {
        display: inline;
      }
    }
  }

  .footer-page-nav {
    margin-bottom: 1rem;
    &::before {
      content: "";
      display: block;
      margin: 0 auto .75rem;
      width: 75%;
      height: 2px;
      background-color: $warm-red;
    }

    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;
    }
  }

  .footer-social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
    .iconfont {
      font-size: $social-icon-font-size;
      
      &:not(:last-child) {
        margin-right: $social-link-margin-right;
      }
      
      &:hover  svg {
        // fill: $theme-color;
      }
    }

    @include wrap-med-screen {
      flex-direction: column;
    }
  }
  
}
