<div id="nav-wrapper" class="top-menu top-menu--close">
    <nav class="top-menu__nav">
        {{ partial "header/header-top-menu.html" . }}
    </nav>
    <div class="top-menu__img">
        Тут будет важный текст поверх красивой картинки.
    </div>
    <div class="top-menu__toggle">
        <button id="nav-toggle-close" class="toggle-button toggle-button--close" type="button">
            <span>Close navigation</span>
        </button>
    </div>
</div>
<div class="top-menu__toggle">
    <button id="nav-toggle-open" class="toggle-button toggle-button--open" type="button">
        <span>Open navigation</span>
    </button>
</div>
