<ul class="top-menu__list">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{- if .HasChildren }}
    <li class="top-menu__parent">
      <a{{ if $currentPage.HasMenuCurrent "main" . }} class="active"{{ else }} {{ with .URL }}href="{{ . }}"{{ end }}{{end}} tabindex="0">{{ .Name }}</a>
      <ul class="top-menu__child-list">
        {{- range .Children }}
        <li class="top-menu__child">
          <a{{ if $currentPage.IsMenuCurrent "main" . }} class="active" tabindex="0"{{ else }} href="{{ .URL }}"{{ end }}>
            {{- with .Pre }}{{ . }}{{ end -}}{{- .Name -}}
          </a>
        </li>
        {{- end }}
      </ul>
    </li>
    {{- else }}
    <li class="top-menu__no-child">
        <a{{if $currentPage.IsMenuCurrent "main" . }} class="active" tabindex="0"{{ else }} href="{{ .URL }}"{{end}}>{{ .Name }}</a>
    </li>
    {{- end }}
  {{ end -}}
</ul>