<ul class="top-menu__list">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="top-menu__parent">
        <!-- //ToDo add class "active" for root service page -->
      <a {{ with .URL }}href="{{ . }}"{{ end }} class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{end}}">{{ .Name }}</a>
      <ul class="top-menu__child-list">
        {{ range .Children }}
        <li>
          <a href="{{ .URL }}" class=" top-menu__child {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
            {{with .Pre }}{{ . }}{{ else}} — {{ end }}
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ else }}
    <li {{if  ($currentPage.IsMenuCurrent "main" . ) }}class="active"{{end}}>
        <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  {{ end }}
</ul>