<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "de" }}">
  <head>
    {{ partial "head.html" . }}
    <title>
      {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
      {{- end -}}
    </title>
  </head>
<body>
  <!-- Google Tag Manager -->
  {{/*- if and (not .Site.IsServer) .Site.Params.GoogleTagManager -*/}}
  {{- if .Site.Params.GoogleTagManager -}}
  {{ partial "common/gtm-body.html" .Site.Params.GoogleTagManager }}
  {{- end -}}

  {{ partial "header/header.html" . }}

  <div class="root-block-wrapper">
    <main class="main">
      {{ block "content" . }}{{ end }}
    </main>
  </div>
    
  {{ partial "footer/footer.html" . }}    
  {{ partial "back-to-top.html" . }}
  {{ partial "cookie-alert.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
