<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "de" }}">
  <head>
    {{ partial "head.html" . }}
    <title>
      {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
      {{- end -}}
    </title>
  </head>
<body>

  {{ partial "header/header.html" . }}

  <div class="root-block-wrapper">
    <main class="main">
      {{ block "content" . }}{{ end }}
    </main>
  </div>
    
  {{ partial "footer/footer.html" . }}    
  {{ partial "back-to-top.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
