{{ define "content" -}}
<article class="post">
  <header class="page-header" id="rotate">
    <h1>{{ .Title }}</h1>
    <section class="page-header__content">{{ .Content }}</section>
  </header>

  {{ partial "toc-cards" . }}

  <section class="post-content">
    {{ with .Resources.ByType "page" }}
    <div class="sub-pages">
      {{- range . }}
      <section class="sub-page">
        <h2 id="{{ anchorize .Title }}">{{ .Title }}</h2>
        {{ .Content }}
      </section>
      {{- end }}
    </div>
    {{- end }}
  </section>
</article>
{{- end }}