// Post content

.post-content {
  word-wrap: break-word;

  a {
    color: $theme-color;

    &:hover {
      border-bottom: $content-link-border;
    }
  }

  iframe {
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  > table {
      border: none;
      width: 100%;

    td {
      background-color: #F0E4E4;
      border: 3px solid #FFF;
      padding: 5px 15px;
    }

    th {
      text-align: left;
      background-color: #A65B5B;
      color: #FFF;
      border: 3px solid #FFF;
      padding: 5px 15px;
    }
  }

  .post-summary {
    margin-bottom: 1em;
  }

  .read-more {
    text-align: right;

    .read-more-link {
      color: $theme-color;
      font-size: 1.1em;
      font-family: $global-serif-font-family;

      &:hover {
        border-bottom: $post-readMore-border-bottom;
      }
    }
  }

  @import 'image';
}

