// <== Post ==>

.post {
  margin: 0 0 1em;

  @import 'header';
  @import 'toc';
  @import 'content';
  @import 'footer';
  @import 'shortcode_notice';

  @media screen and (min-width: 504px) {
      margin: 0 1em 2em;
  }
  
  @include wrap-med-screen {
      margin: 0 2em 2em;
  }

  @include wrap-max-screen {
    margin: 0 8% 3em;
  }
}


