// <== Post ==>

.post {
  margin: 0 0 1em;
  @import 'header';
  @import 'toc';
  @import 'content';
  @import 'footer';
  @import 'shortcode_notice';
}

@media screen and (min-width: 504px) {
  .post {
    padding: 1em 1em;
    margin: 0 1em 2em;
  }
  
  .content-wrapper {
    padding: 1em 0 1px;
  }  
}

@media screen and (min-width: 900px) {
  .post {
    margin: 0 2em 2em;
  }

  .content-wrapper {
    padding: 2em 0 1px;
  }
}

@media screen and (min-width: 1080px) {
  .post {
    // padding: 3em 5em;
    margin: 0 5em 3em;
  }
}