// Back to top

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1.8rem;
  bottom: 4rem;
  height: 2.4rem;
  width: 2.5rem;
  background-color: rgba(180, 180, 180, .5);
  border-radius: 30%;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  z-index: 10;
  cursor: pointer;

  &::after {
    content: "";
    position: relative;
    top: 10%;
    display: block;
    height: 1rem;
    width: 1rem;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-radius: 2px;
    transform: rotate(45deg)
  }
  
  &:hover {
    transform: translateY(3px);
  }
  
  &.back-to-top--hidden {
    display: none;
  }
}
