// Cookie counter

$alert-height: 2.5rem;
$transition-time: 1s;

.cookie-alert {
  position: fixed;
  bottom: -30rem;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1rem 3vw 1rem;
  overflow: hidden;
  background-color: $logo-blue;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: bottom $transition-time ease-out;
  text-align: center;
  
  @include wrap-med-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  p {
    margin: 0;
    text-align: left;
    color: $white;

    span {
      color: $rmd-col2;
    }

    a {
      color: inherit;
      text-decoration: underline $rmd-col2;
    }
  }

  button {
    margin-top: 1rem;
    padding: .5rem 1rem .7rem;
    font-size: 1.2rem;
    background-color: $rmd-col2;
    border-radius: 3px;
    
    &:hover {
      background-color: darken($rmd-col2, 15%);
    }

    @include wrap-med-screen {
      margin: 0;
    }
  }
}
