// Cookie counter

$counter-height: 2.5rem;

.cookie-counter {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: $counter-height;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(180, 180, 180, .5);
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  z-index: 10;
  cursor: pointer;
  transition: bottom 1s ease-out;
  
  &--hidden {
    bottom: -($counter-height);
  }
}
