{{ $current := now.Format "2006" -}}
<div class="footer__bottom">
  <div class="footer-inner-wrapper">
    <div class="footer-law">
      <nav class="footer-law__links">
        <ul>
          {{ range .Site.Menus.law }}
          <li>
            <a href="{{ .URL }}" title="{{ .Title }}">
              {{- .Name -}}
            </a>
          </li>
          {{ end }}
        </ul>
      </nav>

      <div class="footer-law__copyright">
        &copy; {{ if ne .Site.Params.since $current }}{{ .Site.Params.since }} – {{ end }}{{ $current }}
        {{ with .Site.Copyright }}<span class="author">{{ . }}</span>
        {{- else -}}
        {{ with .Site.Author.name }}<span class="author">{{ . }}</span>{{- end }}
        {{- end }}
      </div>
    </div>
  </div>
</div>