{{ $menu := "service" }}

<div class="footer-nav">
  <nav>
    <ul>
      {{/* range .Site.Menus.service */}}
      {{ range (index .Site.Menus $menu) }}
      {{ if .HasChildren }}
      <li class="footer-nav__first">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      <ul>
      {{ range .Children }}
        <li class="footer-nav__second">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
      {{ else }}
      <li class="footer-nav__first">
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </nav>
</div>