// Contact form
.contacts-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
}

.contacts-text {
  flex: 1;
}

.contact-form {
  flex: 1;
  min-width: 460px;

  form {
    margin: 1rem;
    padding: 1rem;
    background-color: indianred;
  }

  h2 {
    text-align: center;
  }
  label, fieldset {
    display: block;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  input, textarea {
    display: block;
    width: 100%;
  }

  .contact-form__radio {

    display: flex;
    flex-direction: row;

    input[type=radio] {
      display: none;
    }

    input[type=radio] + label {
      margin: 0;
      padding: 3px 6px;
      flex: 1;
      background-color: lightcyan;
      text-align: center;
      
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    input[type=radio]:checked + label {
      background-color: cyan;
    }
  }

  .contact-form__ds-checkbox {

    input {
      display: inline;
      width: auto;
    }
  }

}