// Contact page

.contact-page {

  &__top {
    margin-bottom: $block-gap;
    
    .contact-page__header {
      margin-bottom: $block-gap;

      h1 {
        @extend %page-header;
      }
      
      .contact-page__contacts {
        @extend %white-block;
      }
    }

    .contact-page__form {
      @extend %white-block;
      @import "_partial/_post/contact-form";
    }

    @include wrap-med-screen {
      display: flex;
      justify-content: space-between;

      .contact-page__header {
        flex-basis: 50%;
        flex-grow: 1;
        margin-bottom: 0;
        margin-right: $block-gap;
      }
      
      .contact-page__form {
        flex-basis: 50%;
        flex-grow: 1;
      }
    }
  }


  &__content {
    @extend %white-block;
    margin-bottom: $block-gap;
  }
  
  &__map {
    box-shadow: 0 1px 15px $light-gray;
    margin: 0;
    padding: 0;
    border-radius: $block-radius;
    overflow: hidden;
  }
}

