.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: minmax(250px, auto);

  .service-list__item {
    // display: block;
    
    a {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      padding: 1rem;
      background-color: $white;
      box-shadow: 0 1px 15px $light-gray, 0 0 1px $rmd-col1;
      transform: scale(1);
      transition: 200ms;
      &:hover, &:active {
        outline-width: 0;
        transform: scale(1.03);        
      }
    }

    .service-list__icon {
        display: block;
    }

  }
}