.post-toc-cards {
  max-width: 480px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;

  @include wrap-med-screen {
    max-width: 100%;
  }

  .card {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .card-link {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      // border: 4px solid lightgray;
      border-radius: $block-radius;
      background-color: $white;
      box-shadow: $card-shadow;
      transition: $card-transition;

      &:hover {
        box-shadow: $card-shadow-hover;
      }

      @include wrap-med-screen {
        // flex-direction: row;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(45px, auto);
        // grid-template-columns: 1fr;
        grid-template-areas:
        "header header header"
        "media text text"
        "media text text"
        "media text text"
        "media more price";
      }

      .card-header {
        order: 1;
        flex-grow: 1;
        margin-top: -1rem;
        background-color: $card-header-bg;
        font-size: 1.3em;
        * {
          margin: 0;
          margin-top: 1rem;
          padding: .2rem 1rem .8rem;
          font-weight: 700;
        }
        @include wrap-med-screen {
          grid-area: header;
          margin: 0;
          font-size: 1.1em;
          * {
            margin: 0;
            padding: .7rem 1rem;
            font-weight: 700;
          }
        }
      }
          
      .card-text {
        order: 2;
        // background-color: #fafafa;
        margin: 0;
        padding: 1rem 1rem .5rem;

        @include wrap-med-screen {
          grid-area: text;
        }
      }
      
      .card-more {
        order: 2;
        text-align: center;

        @include wrap-med-screen {
          grid-area: more;
          text-align: right;
        }

        span {
          display: inline-block;
          border-radius: 6px;
          margin: .3rem 2rem .5rem;
          padding: .15rem 1rem .1rem;
          background-color: $card-header-bg;
        }
      }

      .card-prise {
        order: 3;
        width: 75%;
        min-width: 220px;
        // margin-top: 4px;
        margin-left: auto;
        padding: .5rem 1rem;
        background-color: $color-secondary-1-2;
        text-align: right;
        font-family: $global-serif-font-family;
        font-size: 1.6rem;
        clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);
        
        
        @include wrap-med-screen {
          grid-area: price;
          width: 85%;
          // align-self: flex-end;
          // margin: 0;
          // height: 100%;
          // padding: 2em .3em .5em;
          // min-width: 200px;
          // width: 200px;
          // clip-path: none;
          // margin-left: 4px;
        }
      }
      
      .card-img {
        order: 0;
        height: 10rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));
        background-color: $light-gray;
        
        @include wrap-med-screen {
          grid-area: media;
          clip-path: none;
          height: auto;
          // flex-basis: 250px;
          // flex-shrink: 0;
          // align-self: center;
          // clip-path: none;
          // min-height: 10rem;
          margin-right: 4px;
        }

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          filter: grayscale(100%);
          
          @include wrap-med-screen {
            // object-fit: contain;
          }
        }
      }
    }
  }
}